.container,
.note {
  height: 100%;
  width: 100%;
}

.note {
  border: none;
  margin-block: 0;
  resize: none;
  padding: 16px;
  background: rgb(51, 51, 51);
  color: white;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
